<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Realtime Markdown Viewer</title>
        <link rel="stylesheet" href="/main.css" charset="utf-8">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <textarea class="column" id="pad"></textarea>
        <div class="column" id="markdown"></div>

        <script src="https://cdn.rawgit.com/showdownjs/showdown/1.1.0/dist/showdown.min.js" charset="utf-8"></script>
        <script src="script.js" charset="utf-8"></script>
    </body>
</html>
